doctype html
html
  head
    title Ballroom Dance Academy
    block scripts
    block style
  body
    nav#navbar
            ul
                div#logo 
                    img(src='/static/img/3.png')
                    |Ballroom Academy
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Class Info]
                li #[a(href='/contact') Contact us]
    block content
    footer#footer 
        | Copyright &copy; 2023 | Ballroom Dance Academy | All rights reserved